.components {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: flex-end;
}
.scroll-block {
    composes:  custom-scroll from global;
    display: flex;
    flex-direction: column;
    max-height: 464px;
    min-height: 200px;
    height: 100%;
    width: 550px;
    overflow-y: scroll;
}