.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    
}

.title {
    composes: text text_type_main-medium from global;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    align-items: center;
    justify-content: center;
}

.paragraph {
    composes: text text_type_main-small from global;
}

.button {
    composes: text text_type_main-small from global;
    background-image: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
    border-radius: 64px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
   margin-bottom: 80px;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 16px 40px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover {
    box-shadow: 0px 0px 8px 8px rgba(51, 51, 255, 0.25);
    filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
  }
  