.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 272px;
    height: 208px;
    position: relative;
}

.img {
    composes: mr-4 ml-4 from global;
    width: 240px;
    height: 120px;
}

.price-tag {
    composes: text text_type_digits-default pt-1 pb-1 from global;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.price {
    composes: text text_type_digits-default from global;
}

.name {
    composes: text text_type_main-default from global;
    max-width: 272px;
    width: 100%;
    text-align: center;
}

.counter{
    composes: text text_type_digits-default from global;
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4C4CFF;
}
