.link {
    composes: pt-4 pr-5 pb-4 mr-2 text_type_main-default  from global;
    display: flex;
    align-items: center;
    text-decoration:none;
    gap: 8px;
    
    
}


/* .caption {
    composes: ml-2 text_type_main-default text_color_inactive  from global;
} */

